* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 80%;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    video{
        width: 100%;
        height: auto;
    } 
}
@media (max-aspect-ratio:16/9) {
    video{
        width: auto;
        height: 100%;
    } 
}
.heading{
    position: absolute;
    height: 100vh;
    width: 100%;
    color: white;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns{
    background-color: rgb(192, 192, 229);
    padding: 2px;
    border-radius: 10px;
    position: absolute;
    left: 5%;
    bottom: 15%;
}
.play, .pause {
    margin: 2px;
    background-color: transparent;
    font-size: xx-large;
    border: none;
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}
.play{
    background-color: rgb(193, 160, 160);
}